<html>
<head>
    <meta charset="utf-8">
    <style>
    #overlay {
      position: fixed; /* Sit on top of the page content */
      display: flex; /* Hidden by default */
      justify-content: center;
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5); /* Black background with opacity */
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer; /* Add a pointer on hover */
    }

    button {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
    </style>
    <script>
      var videoStr = "data:video/webm;base64,{{video_str}}";
      var audioStr = "data:audio/mp3;base64,{{audio_str}}";
    </script>
</head>
<body style="background-color: black">
<div class="overlay">
    <div class="overlay-content">

    </div>
</div>
<audio
        id="ac"
        loop="loop"
        preload="auto"
></audio>
<video
        id="vc"
        style="height: 100%; width: 100%"
        loop="loop"
        preload="auto"
></video>
<div id="overlay">
    <button id="b" disabled onclick="play()">Loading...</button>
</div>
<script>
      var b = document.getElementById("b");
      var vc = document.getElementById("vc");
      var ac = document.getElementById("ac");
      var ov = document.getElementById("overlay");
      var ls = {
        audio: false,
        video: false
      };
      var lsp = new Proxy(ls, {
        set: function(target, prop, val){
          target[prop] = val;
          checkAndEnable();
        }
      });
      function loadVideo() {
        fetch(videoStr)
          .then(res => res.blob())
          .then(blob => {
            var url = URL.createObjectURL(blob);
            vc.src = url;
            vc.load();
            vc.onloadeddata = function() {
              lsp.video = true;
            }
          })
      }
      function loadAudio() {
        fetch(audioStr)
          .then(res => res.blob())
          .then(blob => {
            var url = URL.createObjectURL(blob);
            ac.src = url;
            ac.load();
            ac.onloadeddata = function() {
              lsp.audio = true;
            }
          })
      }

      function checkAndEnable() {
        console.log("changed");
        if(ls.audio && ls.video) {
          b.disabled = false;
          b.innerText = "Play";
        }
      }

      function play() {
        vc.play()
        ac.play();
        b.disabled = true;
        ov.style.display = "none";
      }

      loadVideo();
      loadAudio();
    </script>
</body>
</html>
